blockquote.color {
	background-color: #FAB4C8;
}
a { 
	color: #FAB4C8;
}
.dark a {
	color: #FAB4C8;
}
.timer{
	color: #FAB4C8;
}
.button.default_color { background-color:#FAB4C8; }
.content.alternate.default_color {
	background-color: #FAB4C8;
}
.parallax.default_color {
	background-color: #FAB4C8;
}
.parallax.default_color .item-mask {
	background-color: #FAB4C8;
}
.parallax .parallax.default_color, .parallax .content.alternate.default_color {
	background-color: rgba(250, 180, 200, 0.93);
}
.menu li a:hover, .menu li a.active {
	color: #FAB4C8;
}
.no-touch .menu li a:hover, .no-touch .menu li a.active {
	color: #FAB4C8;
}
#mobile-menu ul li a:hover, #mobile-menu ul li a.active {color: #FAB4C8;}
.photostream a .item-mask:hover {background-color: #FAB4C8;}
.team-member-info.default_color {
	background-color: rgba(250, 180, 200, 0.93);
}
.skills-graph li span {
	background-color: #FAB4C8;
}
.boxed.default_color { background-color: #FAB4C8; }
.highlight1 { background-color: #FAB4C8; }
.grey:hover, .content.alternate .grey:hover, .content.alternate.dark .grey:hover, .parallax.default_color .grey:hover { background-color:#FAB4C8; }
.content.alternate.default_color .button-group .button:first-child { border-right: 1px solid #FAB4C8; }
.pricing-table .featured {
    background-color: #FAB4C8;
}
.pricing-table .featured .price:after, .content.alternate.dark .pricing-table .featured .price:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FAB4C8;
}
.content.alternate.default_color .pricing-table .content { color: #55606A; text-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 1px 1px rgba(0, 0, 0, 0); }
.tab-menu a.tabs-active, .content.alternate .tab-menu a.tabs-active, .content.alternate.dark .tab-menu a.tabs-active { background-color: #FAB4C8; }
.item-info-overlay {
	background-color: rgba(250, 180, 200, 0.9);
}
.parallax.default_color .post-nav li {	border-right-color: #FAB4C8;}
.parallax.default_color .share li:first-child {
	border-left-color: #FAB4C8;
}
.post-nav-2 li:hover {
	background-color: #FAB4C8;
}
.tagcloud a:hover, .content.alternate .tagcloud a:hover, .content.alternate.dark .tagcloud a:hover, .widget .tagcloud a:hover  {
	background-color: #FAB4C8;
	border: 1px solid #FAB4C8;
}
.content.alternate.default_color .arrow.up { border-color: transparent transparent #FAB4C8; }
.content.alternate.default_color .arrow.down { border-color: #FAB4C8 transparent transparent; }
.overlay { background: rgba(250, 180, 200, 0.9); }






.widget a:hover {
	color: #FAB4C8;
}
.content.alternate.dark .widget ul li a:hover {
	color: #FAB4C8;
}
.blog-holder .post.alternate_color, .content.alternate .blog-holder .post.alternate_color, .parallax.default_color .blog-holder .post.alternate_color, .content.alternate.dark .blog-holder .post.alternate_color {
	background-color: #FAB4C8;
}
.post-meta a:hover {
	color: #FAB4C8;
}
.content.alternate.dark .post-meta a:hover {
	color: #FAB4C8;
}
.post-date li a:hover, .post-date li.comments:hover:before {
	color: #FAB4C8;
}
.content.alternate.dark .post-date li a:hover {
	color: #FAB4C8;
}
.wp-pagenavi a:hover, .content.alternate .wp-pagenavi a:hover, .content.alternate.dark .wp-pagenavi a:hover {
	background-color: #FAB4C8;
	border: 1px solid #FAB4C8;
}
.comment .author a:hover, .comment .children .author a:hover {
	color: #FAB4C8;
}
.comment .reply:hover {
	background-color:#FAB4C8;
}
.comment .children .comment-meta .reply:hover {
	background-color:#FAB4C8;
}






.full-icon.default_color {
  	background-color: #FAB4C8;
  	box-shadow: 0 0 0 2px #FAB4C8 inset;
}
.full-icon.default_color:hover, .full-icon.default_color:hover a {
	color: #FAB4C8;
}
.border-icon.default_color {
  	box-shadow: 0 0 0 2px #FAB4C8 inset;
  	color: #FAB4C8;
}
.border-icon.default_color:hover {
    background-color: #FAB4C8;
  	box-shadow: 0 0 0 2px #FAB4C8 inset;
}
.border-icon.default_color a {
  	color: #FAB4C8;
}
.parallax.default_color .border-icon.default_color:hover { color: #FAB4C8; }
.transparent.default_color, .parallax.default_color .transparent.default_color {
  	color: #FAB4C8;
}
#circle { background: #FAB4C8; }






div.jp-play-bar {
	background-color: #FAB4C8;
}
div.jp-volume-bar-value {
	background-color: #FAB4C8;
}